<div class="container mt-5">
  <div class="row mt-4">
      <a href="/admin/add-hotel" class="btn btn-success ml-auto my-5">Add Hotels</a>
    </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Hotal Name</th>
        <th scope="col">Hotal Location</th>
        <th scope="col">Hotal email</th>
        <th scope="col">Hotal phone</th>
        <th scope="col">City</th>
        <th></th>
        <th></th>

      </tr>
    </thead>
    <tbody>
       {{#each hotel}} 
      <tr>
        <th scope="row">1</th>
        <td>{{this.hotelname}}</td>
        <td>{{this.location}}</td>
        <td>{{this.email}}</td>
        <td>{{this.phone}}</td>
        <td>{{this.city}}</td>
        <td><a href="/admin/view-reviews/{{this._id}}" class="btn btn-primary">Reviews</td>
        <td><a href="/admin/edit-hotel/{{this._id}}" class="btn btn-primary">Edit</a>
           <a href="/admin/detete-hotel/{{this._id}}" class="btn btn-danger" onclick="return confirm('are you want to delete {{this.name}} ?')">Delete</a></td>
          
      </tr>
     {{/each}}
    </tbody>
  </table>