
   
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>prof</title>
    <link rel="stylesheet" href="/profview/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arbutus">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Atomic+Age">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="stylesheet" href="/profview/assets/css/Profile-Card.css">
    <link rel="stylesheet" href="/profview/assets/css/styles.css">
</head>

<body>{{#if hotel}}
    <div class="profile-card" style="border-radius: 1px;border-top-left-radius: 0px;border-top-right-radius: 0px;margin-top: 5px;border-bottom-right-radius: 60px;border-bottom-left-radius: 60px;margin-right: 150px;margin-left: 150px;">
        <div class="profile-back" style="border-radius: 0px;border-top-left-radius: 0px;border-top-right-radius: 0px;border-color: rgb(14, 15, 15);background: rgb(4,2,2);"></div><img class="img-thumbnail profile-pic" src="/hotel-images/{{hotels._id}}.jpg" ">
        <h3 class="profile-name" style="font-size: 21px;height: auto;background: rgb(68,54,54);font-family: Audiowide, cursive;border-radius: 18px;filter: blur(0px);">{{hotels.hotelname}}</h3>
        <ul class="list-group">
            <li class="list-group-item" style="text-align: center;"><span style="font-size: 20px;text-align: center;">Email&nbsp; &nbsp; :</span><span style="font-size: 23px;text-align: center;">{{hotels.email}}</span></li>
            <li class="list-group-item" style="text-align: center;"><span style="font-size: 20px;text-align: center;">Phone&nbsp; &nbsp; :</span><span style="font-size: 23px;text-align: center;">{{hotels.phone}}</span></li>
            <li class="list-group-item" style="text-align: center;"><span style="font-size: 20px;text-align: center;">City&nbsp; &nbsp; :</span><span style="font-size: 23px;text-align: center;">{{hotels.city}}</span></li>
            <li class="list-group-item"><span style="font-size: 20px;text-align: center;">Address&nbsp; &nbsp; :</span><span style="font-size: 23px;text-align: center;">{{hotels.address}}</span></li>
            <li class="list-group-item" style="text-align: center;margin-bottom: 67px;"><span></span><a href="/hotel/edit-profile/{{hotels._id}}" class="btn btn-primary">Edit</a></button></li>
        </ul>
    </div>
    {{/if}}
    <script src="/profview//assets/js/jquery.min.js"></script>
    <script src="/profview//assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
 <script>
  {{!-- $(function () {
    $('#hotels').DataTable();
  });
    </script> --}}