<div class="container mt-5" style="align-items: center;">
       <fieldset>
        <table class="table">
    <tbody>
      <tr>
        <th colspan="2">User: {{review.username}}</th></tr>
        <tr><td >Booked Room : <td>{{data.Room}}</td></tr>
        <tr><td >No. of Guest :<td>{{data.Guest}}</td></tr>
        <tr><td >Phone Number :<td>{{review.mobile}}</td></tr>
        <tr><td >Payment Status :<td>{{review.status}}</td></tr>
        <tr><td >Total Amount :<td><b>{{review.totalAmount}}/-</b></td></tr>
     
    </tbody>
  </table></fieldset><hr></div>